<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <div class="content">
    <div id="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <h4>Listing <span class="semi-bold">Non Teachers</span></h4>
              <div class="tools"> 
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
              </div>
            </div>
            
            <div class="grid-body ">
              <div class="row-fluid">
                <table class="table table-hover table-condensed" id="example">
                  <%= form_tag(non_teaching_staffs_path, :method => "get", id: "search-form") do %>
                    <div class="input-prepend inside search-form no-boarder">
                      <span class="add-on"> 
                        <a href="#" class="" >
                          <div class="iconset top-search"></div>
                        </a>
                      </span>
                        <%= text_field_tag :search, params[:search], placeholder: "Search Non Teacher", :class=>"no-boarder", :style=>"width:250px;" %></td>
                    </div>
                  <% end %>
                  <thead>
                    <tr>
                      <th width="10%">Full Name</th>
                      <th width="10%" data-hide="phone,tablet">Father name</th>
                      <th width="10%" data-hide="phone,tablet">Role</th>
                      <th width="10%" data-hide="phone,tablet">Phone number</th>
                      <th width="10%" data-hide="phone,tablet">Email</th>
                      <th width="10%" data-hide="phone,tablet">Address</th>
                      <th width="6%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @non_teaching_staffs.each do |non_teaching_staff| %>
                      <tr >
                        <td valign="middle"><%= non_teaching_staff.full_name %></td>
                        <td valign="middle"><span class="muted"><%= non_teaching_staff.father_name %></span></td>
                        <td valign="middle"><span class="muted"><%= non_teaching_staff.role %></span></td>
                        <td valign="middle"><span class="muted"><%= non_teaching_staff.mobile %></span></td>
                        <td valign="middle"><span class="muted"><%= non_teaching_staff.email %></span></td>
                        <td valign="middle"><span class="muted"><%= non_teaching_staff.address %></span></td>
                        <td valign="middle">
                          <%= link_to 'Edit', edit_non_teaching_staff_path(non_teaching_staff) %>
                          <%= link_to 'Delete', non_teaching_staff, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= will_paginate @non_teaching_staffs %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>