<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <div class="content">
    <div id="container">
      <div class="row-fluid">
        <%= form_tag alerts_send_multi_message_path do %>
          <div class="span10">
            <div class="grid simple">
              <div class="grid-title no-border">
                <h4>Quick SMS</h4>
                <div class="tools"> 
                  <a href="javascript:;" class="collapse"></a>
                  <a href="javascript:;" class="reload"></a>
                </div>
              </div>
              <div class="grid-body no-border"> <br>
                <div class="row-fluid">
                  <div class="span8">
                    <div class="control-group">
                      <label class="control-label">Teachers</label>
                      <span class="help">e.g. "Teacher X"</span>
                      <div class="controls">
                        <select id="teachers" style="width:100%" multiple>
                          <% @teachers.each do |teacher| %>
                            <option value="<%= teacher.full_name %>"><%= teacher.full_name %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Student Standard</label>
                      <span class="help">e.g. "Class 1"</span>
                      <div class="controls">
                        <select id="student_standard" style="width:100%" multiple>
                          <% @standards.each do |standard| %>
                            <option value="<%= standard %>"><%= standard %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Student Section</label>
                      <span class="help">e.g. "Section D"</span>
                      <div class="controls">
                        <select id="student_section" style="width:100%" multiple>
                          <% @sections.each do |section| %>
                            <option value="<%= section %>"><%= section %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Non Teachers</label>
                      <span class="help">e.g. "Driver"</span>
                      <div class="controls">
                        <select id="non_teachers" style="width:100%" multiple>
                          <% @non_teachers.each do |non_teacher| %>
                            <option value="<%= non_teacher.full_name %>"><%= non_teacher.full_name %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Message</label>
                      <span class="help">e.g. "Hi !!! Good Morning"</span>
                      <div class="controls">
                        <%= text_area_tag :messages, nil, :class=>"span12", :placeholder => "Messages", :rows => "10"  %>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Send</button>
                    <a href="#" class="btn btn-primary">Clear</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
         <div class="span10">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Message Preview</h4>
              <div class="tools"> 
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
              </div>
              <hr/>
            </div>
            <div class="grid-body no-border"> <br>
              <div class="row-fluid">
                <div class="span8">
                  <div id="preview"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#messages").keyup(function(){
    message = $("#messages").val()
    message = message //+ " - <%#= signature %>"
    $("#preview").html(message);
  });
</script>